table inet mk1ai_egress {
    chain output {
        type filter hook output priority 0;
        policy drop;

        oifname "lo" accept
        oifname "WG_INTERFACE" accept

        WG_ENDPOINT_RULES
        MK1_DHCP_RULES
    }
}

table arp mk1_egress_arp {
    chain output {
        type filter hook output priority 0;
        policy accept
    }
}
